<html ng-app="directiveCommunication">
	<head>
		<meta charset="UTF-8" />
		<title>angular-directive-communication</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<h1>Exploring communication between directives in AngularJS</h1>

		<div ng-controller="CategoryCtrl">
			<ratings title="JavaScript">
				<article-count category="{{categoryMap['ES6']}}"></article-count>
				<article-count category="{{categoryMap['AngularJS']}}"></article-count>
				<article-count category="{{categoryMap['React']}}"></article-count> 
			</ratings>

			<ratings title="Frameworks">
				<article-count category="{{categoryMap['AngularJS']}}"></article-count>
				<article-count category="{{categoryMap['React']}}"></article-count> 
			</ratings>
		</div>

		<div ng-controller="CategoryCtrl">
      <div ng-controller="ArticleCtrl">
        <div ng-repeat="article in articles">
          <p>{{article.title}}</p>
          <p>- {{article.author}}</p>
          <label ng-repeat="category in categories">
          	<input type="checkbox" ng-checked="category.contains(article)" ng-click="category.toggle(article)" />
          	{{category.title}}
          </label>
        </div>
      </div>
      <div ng-repeat="category in categories">{{category.title + ' : ' + category.articles.length}}</div>
      <div>{{categoryMap}}</div>
    </div>

		<script src="../node_modules/angular/angular.js"></script>
		<script src="app.js"></script>
		<script src="controllers/article.js"></script>
		<script src="controllers/category.js"></script>
	</body>
</html> 