<html ng-app="directiveCommunication">
	<head>
		<meta charset="UTF-8" />
		<title>angular-directive-communication</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<h1>Exploring communication between directives in AngularJS</h1>

		<div ng-controller="CategoryCtrl">
			<ratings title="JavaScript">
				<article-count title="ES6" articles="{{categoryArticles['ES6']}}"></article-count>
				<article-count title="Angular" articles="{{categoryArticles['AngularJS']}}"></article-count>
				<article-count title="React" articles="{{categoryArticles['React']}}"></article-count> 
			</ratings>

			<!--ratings title="Frameworks">
				<article-count articles="categoryArticles['AngularJS']"></article-count>
				<article-count articles="categoryArticles['React']"></article-count> 
			</ratings>

			<ratings title="All">
				<article-count ng-repeat="category in categories" articles="category.articles"></article-count>
			</ratings-->

      <div ng-controller="ArticleCtrl">
        <div ng-repeat="article in articles">
          <p>{{article.title}}</p>
          <p>- {{article.author}}</p>
          <label ng-repeat="category in categories">
          	<input type="checkbox" ng-checked="category.contains(article)" ng-click="category.toggle(article)" />
          	{{category.title}}
          </label>
        </div>
      </div>
    </div>

		<script src="../node_modules/angular/angular.js"></script>
		<script src="app.js"></script>
		<script src="controllers/article.js"></script>
		<script src="controllers/category.js"></script>
		<script src="directives/articleCount.js"></script>
		<script src="directives/ratings.js"></script>
	</body>
</html> 